.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  margin-top: 10px;
}

label {
  padding-right: 5px;
}

.form-group {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 5px;
}

.day {
  margin: 5px;
}
